@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');
@import './font/iconfont.css';
$backgroundColor: #F5F5D5;
$titleColor: #000000;
$dateColor: #646B90;
$fontColor: #131312;
$borderColor: #E0DFCC;
$fontFamily: 'Noto Serif SC', serif;
$Extra-light: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$Semi-bold: 600;
$Bold: 700;
$Black: 900;
$border: 1px solid $borderColor;
$borderBottom: 2px solid $borderColor;


// init
h1,h2,h3,h4,h5,h6{
  font-weight: 100;
  font-family: $fontFamily;
  letter-spacing: 0.05rem;
  margin: 30px 0;
}
h1{
  font-size: 1.5rem;
  font-weight: $Semi-bold;
}
body{
  background-color: $backgroundColor;
  font-family: $fontFamily;
}
*{
  margin: 0;
  padding: 0;
}
a {
  color: $titleColor !important;
  box-shadow: none !important;
}
a:hover,
a:active {
  box-shadow: 0 1px 0 0 currentColor !important;
}
ul,ol{
  list-style: none;
}
// public

.iconfont{
  margin-right: 8px;
};
.icon-label_fill{
  margin-left: 20px;
}
.css-tag{
  margin-right: 6px;
};
small{
  font-size: 16px;
  font-weight: $Semi-bold;
  margin-right: 6px;
};

// header 
.css-header {
  border-bottom: $borderBottom;
}

// main
// index-css
.css-content{
  display: flex;
  justify-content : space-between;
  article{
    min-width: 800px;
    header{
      h3{
        font-family: $fontFamily;
        font-size: 24px;
        font-weight: $Bold;
        letter-spacing: 1px;
      };     
    }
    .css-desc{
      margin-top: 15px;
      font-size: 18px;
      font-weight: 500;
      border-bottom: $borderBottom ;
    };
  }
  .css-slide{
    width: 20%;
    > div{
      margin-top: 10vh;
      margin-left: 1vw;
      border: 1px solid $borderColor;
      border-radius: 5px;
      padding: 20px;
      div{
        font-size: 20px;
        border-bottom: 1px solid $borderColor;
      }
      ul{
        li{
          margin: 0;
        }
        margin: 5px 0 0 0;
      }
    }
  }
}
// post-css
.css-toc{
  color: $titleColor;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid $borderColor;
  >div{
    border-bottom: 1px solid $borderColor;
  }
  > ul {
    padding-left: 16px;
  }
  ul {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: 0;
    p {
      vertical-align: top;
      display: inline-block;
    }
  }
  li {
    margin-bottom: 0;
  }
  li > p {
    margin-bottom: 0;
  }
  li > ul {
    margin-top: 0;
  }
}


@media screen and (min-width: 1280px) {
    .css-toc {
      position: fixed;
      top: 20vh;
      right: 1vw;
      font-size: 14px;
      max-width: 200px;
      max-height: 70vh;
      overflow: hidden;
      border-radius: 5px;
      li > ul {
        margin-left: 1rem;
      }
    }
  }

.css-post {
  section{
    margin-top: 50px;
  }
}


// footer
.css-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-top: $borderBottom;
  
  p{
    margin: 2px;
  }
}

